
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


ul li{
    list-style: none;
}

body{
    font-size:16px;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

p{
    color: #F0E7E7;
    padding: 10px 20px;
}

p:hover{
    background-color: #2C2020;
    transition: background-color 0.4s ease-in-out; 
}

span{
    background-color: #F4C95D;
    padding:10px;
}

.pokemon-items{
    background-color: #6A6666;
    padding:10px;
}

.additional-info{
    color:black;
    padding:10px;
    background-color: #F4C95D;
}

.additional-info:hover{
    color:#F0E7E7;
}

@keyframes nav-link-animation{
    0%{
        color: #pink;
    }

    50%{
        color: #F0E7E7;
        font-size:17px;
    }

    100%{
        color: pink;
    }
}

@keyframes nav-link-animation-2{
    0%{
        color: #pink;
    }

    50%{
        color: #F0E7E7;
    }

    100%{
        color: pink;
    }
}

nav{
    text-align: center;
    background-color: #2C2020;
    height:125px;
    padding-bottom:10px;
    
}

main{
    background-color: #adadad;
}

nav a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    animation: nav-link-animation 3s ease;
}


nav a img{
    animation: animation-logo 2s linear;
}



.additional-links{
    color: #F5f5f5;
    background-color:#2E1F27;
    padding:5px;
    text-decoration:none;
}

.additional-links:hover{
    text-decoration:underline;
    
}

.default-button{
    color:#F0E7E7;
    padding: 12px 18px;
    background-color:#6A6666;
    font-size:16px;
}

@keyframes animation-logo{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animation-btn{
    0%{
        background-position: left -4px, right -4px;
    }
    50%{
        background-position: left 10px, right 10px;
    }
    100%{
        background-position: left -4px, right -4px;
    }
}

@keyframes animation-btn-2{
    0%{
        background-position: 30% 90%;
    }
    50%{
        background-position: 75% 90%;
    }
    100%{
        background-position: 30% 90%;
    }
}
//animation for modal image
@keyframes animation{
    0%{
        transform: translate(-6px);
    }
    50%{
        transform: translate(10px);
    }
    100%{
        transform: translate(-6px);
    }
}

.default-button:hover{
    cursor:pointer;
    opacity:0.8;
    padding-right: 32px;
    transition:opacity 0.3s ease;
    background-image:url('../assets/pokemon-btn.png'), url('../assets/pokemon-btn.png');
    background-repeat:no-repeat, no-repeat;
    background-position: 0 0, 50% 50%;
    background-size: 28px 28px;
    animation: animation-btn 2s linear infinite;

}

.default-button:active{
    background-color:#adadad;
    color:#000;
}

.default-button:focus{
    cursor:pointer;
    outline: 2px solid pink;
    font-weight:bolder;
    background-image:url('../assets/pokemon-btn.png'), url('../assets/pokemon-btn.png');
    background-repeat:no-repeat, no-repeat;
    background-position: 0 0, 50% 50%;
    background-size: 28px 28px;
    animation: animation-btn 2s linear infinite;
}


.default-button{
    width:90%;
}

footer{
    text-align:center;
    background-color: #2C2020;
    height: 100px;
    padding-top:70px;
}
footer .additional-links{
    padding:0;
}

.modal-container-hidden{
    display:none;
}

#modal-container{
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(43,43,43, 0.9);
    text-align: center;
    z-index:999;
    position:fixed;
    top:0;
    left:0;
    overflow:auto;
}

#modal-container.is-visible{
 display:block;   
}

#modal{
    font-family:"Comic Sans MS", "Comic Sans", cursive;;
    background-color:black;
    text-align: center;
    width:70%;
    height:80%;
    margin-top:7%;
    max-width: 700px;
    display: inline-block;
}

#modal-heading{
    padding-top: 60px;
    color: white;
    font-size:20px;
    width:100%;
    height:60px;
    background-color: black;
}

#modal-text{
    color: green;
    font-size:20px;
    height:60px;
    background-color: black;
}

#modal-text-abilities{
    color: green;
    font-size:20px;
    height:60px;
    background-color: black;
}

#modal-image{
    animation: animation 2s linear infinite;
    text-align: center;
    width: 150px;
    height: 150px;
    
}

#modal p, #modal h2{
    clear:both;
}

#close-modal-button{
    padding:5px;
    background-color: black;
    color:white;
    font-size:24px;
    outline: none;
    border:none;
    float:right;
}

@media screen and (max-width: 159px){
    button.default-button:hover, button.default-button:focus{
        background-image:url('../assets/pokemon-btn.png');
        background-position: bottom right;
        background-size: 18px 18px;
        animation: animation-btn-2 2s linear infinite;
        padding:24px 0 24px 0;
    }

    nav img{
        width: 60%;
    }
    a.logo-link{
        font-size: 12px;
        animation: nav-link-animation-2 2s linear; 
    }

    .default-button{
        font-size:14px;
        width: 100%;
        padding:22px 0 22px 0;
    }

    main{
        text-align:center;
    }
    main ul.pokemon-list{
        margin:0 auto;
    }
    body{
        margin:0;
    }
    footer{
        width:100%;
        height: 150px;
        text-align:center;
    }

    footer p, footer a{
        font-size:12px;
    }
}

@media screen and (min-width:159px) and (max-width: 319px){

    body{
        margin:0;
    }

    .default-button{
        width:100%;
    }
    p, .default-button, .additional-links, .logo-link{
        font-size:13px;
    }

    footer{
        padding:20px 0 0 0;
        height:160px;
        width:100%;
    }

    .default-button:hover, .default-button:focus{
        background-size: 21px;
    }

    nav img{
        width:80px;
        height:80px;
    }
    main ul.pokemon-list{
        margin:0 auto;
    }
    nav, footer{
        width:100%;
    }
    main{
        text-align:center;
    }
}

@media screen and (min-width:320px) and (max-width: 920px){
    main ul.pokemon-list{
     text-align:center;   
     padding:0;
     
}

nav, footer{
    width:100%;
}

.default-button{
    width:70%;
}
footer{
    text-align:center;
    background-color: #2C2020;
    height: 100px;
    padding-top:70px;
}
footer .additional-links{
    padding:0;
}
}

@media screen and (min-width: 921px){
    main ul.pokemon-list{
     text-align:center;   
     padding:0;
     
}

.default-button{
    width:50%;
    height:120px;
    text-transform:uppercase;
}
footer{
    text-align:center;
    background-color: #2C2020;
    height: 100px;
    padding-top:70px;
}
footer .additional-links{
    padding:0;
}
}