
nav a img{
    animation: animation-logo 1.4s linear;
}

body{
  background-color: #6c757d;
}

.container-fluid{
    margin-top:180px;
}

.jumbotron{
  background-color: #343a40 !important;
  padding: 64px 0;
  margin-bottom: 32px;
}

.jumbo-app-name{
  color: #ff6d7e;
}

.jumbo-pokemon-button, .display-4{
  color: dodgerblue !important;
}

.display-4 {
  font-size: 2.9rem;
  margin-bottom: 14px;
}

.modal-image, .modal-image-back{
    width:160px;
    height:160px;
}

.github:hover{
  opacity:0.8;
  transform: translate(0, -5px);
  transition: all 0.2s ease-in;
}

.close-btn{
  float:right;
}

.navbar{
  background-color: #343a40;
}

.navbar-brand{
  display: inline-block;
}

.logo-name{
  color: whitesmoke;
  font-size: 18px !important;
}

span.input-group-text{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 48px;
}

span.navbar-toggler-icon{
  background:url('./img/navbar-toggler-icon.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
}

.container-fluid{
  margin-top: 0;
}

.close{
  background-color: transparent;
  border:none;
  font-size: 24px;
  position: absolute;
  top:16px;
  right:10px;
}

.close:hover{
  opacity:0.8;
  transition: all 0.15s ease-in;

}

@keyframes animation-logo{
    100%{
        transform: rotate(360deg);
    }
}
.pokemon-item{

    width:30%;
    min-width:200px;
    height:100px;
    min-height: fit-content;
    /* min-height:content-height; */
    
}

.pokemon-button{
    font-size:14px;
}

.sp-none{
    visibility:hidden;
    transition: visibility 2s ease-in-out;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007bff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #529fcc; 
  }

  .logo-name{
    font-size:16px;
  }