
nav a img{
    animation: animation-logo 1.4s linear;
}

.container-fluid{
    margin-top:230px;
}

.modal-image, .modal-image-back{
    width:160px;
    height:160px;
}


@keyframes animation-logo{
    100%{
        transform: rotate(360deg);
    }
}
.pokemon-item{

    width:30%;
    min-width:200px;
    height:100px;
    min-height: fit-content;
    /* min-height:content-height; */
    
}

.pokemon-button{
    font-size:14px;
}
