
nav a img{
    animation: animation-logo 1.4s linear;
}

.container-fluid{
    margin-top:180px;
}

.modal-image, .modal-image-back{
    width:160px;
    height:160px;
}


@keyframes animation-logo{
    100%{
        transform: rotate(360deg);
    }
}
.pokemon-item{

    width:30%;
    min-width:200px;
    height:100px;
    min-height: fit-content;
    /* min-height:content-height; */
    
}

.pokemon-button{
    font-size:14px;
}

.sp-none{
    visibility:hidden;
    transition: visibility 2s ease-in-out;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }